<ion-item-sliding>
  <ion-item-options side="start" (ionSwipe)="archiveSlider()">
    <ion-item-option expandable="true" color="success">{{
      archived ? "unarchive" : "archive"
    }}</ion-item-option>
  </ion-item-options>

  <ion-item shape="round" (click)="openNote()">
    <ion-label
      ><div [appCrossText]="archived">
        {{ note?.title }}
      </div></ion-label
    >
    <ion-text *ngIf="!archived"
      >expiring in {{ note?.expire | daysofdate }} days</ion-text
    >
  </ion-item>

  <ion-item-options *ngIf="!archived" side="end" (ionSwipe)="sliderDragged()">
    <ion-item-option expandable="true" color="danger"
      ><ion-icon name="trash-outline"></ion-icon
    ></ion-item-option>
  </ion-item-options>
</ion-item-sliding>
