<ion-header>
  <ion-toolbar>
    <ion-title> Notes </ion-title>
  </ion-toolbar>

  <ion-segment [value]="segmentValue" (ionChange)="segmentValueChanged($event)">
    <ion-segment-button value="unarchived">
      <ion-label>Unarchived</ion-label>
    </ion-segment-button>
    <ion-segment-button value="archived">
      <ion-label>Archived</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <app-notes-list
    [notes]="archived ? archivedNotes : notes"
    [allNotes]="archived ? archivedNotes : notes"
    [archived]="archived"
  ></app-notes-list>
</ion-content>

<ion-footer>
  <div class="middle-button">
    <ion-button (click)="createNote()"
      ><ion-icon name="add"></ion-icon
    ></ion-button>
  </div>
</ion-footer>
