<ion-header>
  <ion-toolbar>
    <ion-title> Notes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-text *ngIf="notes.length === 0">No notes! Create a Note.</ion-text> -->

  <ion-list>
    <app-note-item
      *ngFor="let note of notes; let i=index;"
      [note]="note"
      [index]="i"
    ></app-note-item>
  </ion-list>
</ion-content>

<ion-footer>
  <div class="middle-button">
    <ion-button (click)="createNote()"
      ><ion-icon name="add"></ion-icon
    ></ion-button>
  </div>
</ion-footer>
