<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-button
      *ngIf="!newNote"
      (click)="deleteNote()"
      slot="end"
      color="danger"
      ><ion-icon name="trash-outline"></ion-icon
    ></ion-button>

    <ion-button
      *ngIf="!newNote"
      class="ion-margin"
      slot="end"
      (click)="onEdit()"
      ><ion-icon name="create-outline"></ion-icon
    ></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <ion-select (ionChange)="selectValueChanged($event)" [value]="selectValue">
      <ion-select-option *ngFor="let category of categories" [value]="category"
        >{{category}}</ion-select-option
      >
    </ion-select>
  </div>

  <ion-toolbar>
    <ion-title>Expire on</ion-title>
  </ion-toolbar>
  <ion-datetime-button datetime="datetime"></ion-datetime-button>
  <ion-toolbar>
    <ion-title>Title</ion-title>
  </ion-toolbar>

  <ion-modal [keepContentsMounted]="true"
    ><ng-template>
      <ion-datetime
        id="datetime"
        (ionChange)="dateChanged($event)"
        [(ngModel)]="date"
        [min]="minDate"
        showDefaultButtons="true"
      ></ion-datetime> </ng-template
  ></ion-modal>

  <ion-item>
    <ion-input
      [readonly]="!edit"
      [(ngModel)]="title"
      placeholder="Enter Title"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-textarea
      [readonly]="!edit"
      placeholder="Write something here."
      [(ngModel)]="content"
      rows="30"
      [autoGrow]="true"
    ></ion-textarea>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-button expand="full" (click)="addNote()">Save</ion-button>
</ion-footer>
